<h2>Events</h2>

<p>
  Here are the upcoming events:

  <ul class="list-unstyled">
    <li> 5/12/2016: Photo Walk - canal saint martin</li>
    <li> 10/01/2017: Photo lesson: aperture</li>
    <li> 6/02/2017: Photo Walk - Vincennes</li>
    <li> 12/03/2017: Photo Walk - Bute aux cailles</li>
  </ul>
</p>
