<h2>Welcome to FotoKlub !</h2>

<p>
  <%= image_tag 'home', class: 'home_photo' %>
</p>

<p>
  FotoKlub is a private photography club.<br><br>
  Here, find all our photos and event dates.
</p>
</div>

